.App {
  text-align: center;
  background-color: #202733;
}

.Card-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  background-color: #313A48;
  border-radius: 15px;
  height: 364px;
  width: 540px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Card > * {
  padding:20px;
}

.Advice-id {
  color: #53FFAA;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.Advice-text {
  color: #CEE3E9;
  font-size: 26px;
}

.Divider {
  color: #CEE3E9;
  color: #4F5D74;
}

.Dice-Icon {
  background-color: #202733;
}

.Dice-button {
  background-color: #53FFAA;
  border-radius: 50%;
  border: none;
}

