.App {
  text-align: center;
  background-color: #202733;
}

.Card-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  background-color: #313A48;
  border-radius: 15px;
  height: 340px;
  width: 540px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Card > * {
  padding: 10px 20px;
}

.Advice-id {
  color: #53FFAA;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.Advice-text {
  color: #CEE3E9;
  font-size: 26px;
  align-items: center;
  flex-basis: 28%;
}

.Divider {
  color: #CEE3E9;
  color: #4F5D74;
  padding-bottom: 50px;
}

.Dice-Icon {
  background-color: #202733;
}

.Dice-button {
  background-color: #53FFAA;
  border-radius: 50%;
  border: none;
  padding:20px;
  position: absolute;
  top: 67%;
  transition-duration: .3s;
	transition-property: box-shadow;
}

.Dice-button:hover {
  box-shadow: 0 0 64px #53ffaa;
}

.Dice-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

